body{
  background-color: darkslategray;
  font-family: Century, fantasy;
}
h1{
  display: flex;
  justify-content: center;
}
.item {
  font-family: Calibri, cursive;
  color: darkkhaki;
  margin-left: 5%;

}
#container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  border-bottom: 2px dotted black;
  font-size:x-large;
}
.content{
  background: lavender;
  margin:auto;
  width: 50%;
  border: 1px solid black;
  padding: 30px;
}
