body{
  background-color: darkslategray;
  font-family: Century, fantasy;
}
h1{
  display: flex;
  justify-content: center;
}
.item {
  font-family: "Kristen ITC", cursive;
  color: darkkhaki;
  margin-left: 5%;

}
#container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  border-bottom: 2px dotted black;
  font-size:x-large;
}
.content{
  background: lavender;
  margin : auto;
  width: 70%;
  border: 1px solid black;
  padding: 30px;
}
.button {
  background-color: lightsalmon;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
}

.buttons{
  display: inline-flex;
  justify-content: right;
}

