body{
  background-color: darkslategray;
  font-family: Century, fantasy;
  color: #c78f2d;
}
h1{
  display: flex;
  justify-content: center;
}
.item {
  font-family: "Kristen ITC", cursive;
  color: darkkhaki;
  margin-left: 5%;

}
h2{
  background: linear-gradient(to right, blue, darkblue);
  color: #ffffff;
  padding: 2% 0;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0,0,0,0.1);
  margin: 1%;
  font-size: 2em;
  font-family: Rockwell, cursive;
}
#container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row;
  border-bottom: 2px dotted black;
  font-size:x-large;
}
.content{
  background: lavender;
  margin: auto;
  width: 70%;
  border: 1px solid black;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 5px 5px lightgrey, 10px 10px grey, 15px 15px darkgray;
}
.button {
  background-color: lightsalmon;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: small;
  margin: 4px 2px;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.button:hover {
  transform: scale(1.1);
}

.buttons{
  display: inline-flex;
  justify-content: right;
}

#form{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
#form_update{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 5%;
  padding: 2%;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px black;
}
.input{
  margin-right: 2%;
  margin-left: 2%;

  /* Background and Border */
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 5px;

  /* Text */
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;

  /* Spacing */
  padding: 10px;

  /* Transition */
  transition: border-color 0.3s ease-in-out;
}
.input:focus {
  /* Modify appearance on focus */
  outline: none;
  border-color: #007bff;
}
.input:hover {
  /* Modify appearance on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input::placeholder {
  /* Styling the placeholder text */
  color: #999;
  font-style: italic;
  font-family: Harrington, ui-serif;
}
